@model IEnumerable<Application.ClientUI.Models.DeviceModel>

<div class="row">
    <div class="form-group col-md-5">





        @using (Html.BeginForm())
        {
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <button type="submit" class="btn btn-primary active"><span class="glyphicon glyphicon-search " aria-hidden="true"></span></button>



                <div class="col-md-10">
                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = " Enter Customer Identity Number" })
                </div>

            </div>





        }
    </div>
</div>




    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.datein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.serialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.technician)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerIdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.datein)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("Create Quote", "NewQuote", new { id = item.id }) |
               
                </td>
            </tr>
        }

    </table>
