
@model Application.ClientUI.Models.DeviceModel

@{
    ViewBag.Title = "Create";
}

    

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


     
        <hr />
      


   



        <div class="form-group pull-in clearfix">
            <div class="col col-sm-6">
                @Html.LabelFor(model => model.serialNo, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.serialNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serialNo, "", new { @class = "text-danger" })
            </div>
            <div class="col col-sm-3">
                @Html.LabelFor(model => model.DeviceName, htmlAttributes: new { @class = "control-label col-md-2" })
              
                    @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DeviceName, "", new { @class = "text-danger" })
                
            </div>
            <div class="col col-sm-3">
                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
            
                    @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                
            </div>
            </div>

            <div class="form-group pull-in clearfix">
           
             

                <div class="col col-sm-6">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                </div>
             
                    

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Done" class="btn btn-default" />
                            </div>
                        </div>
                   

                    }

              

