<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iNFINITY</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
             
            
<div class="jumbotron">



Identity Number: <p>@Session["IdentityNumber"] </p> Device <p> @TempData["Device"] </p>


    @TempData["Name"]
    
    @TempData["Surname"]

    @TempData["UserID"]
    @TempData["Device"]

    @TempData["Address"]
    @TempData["Country"]




    @Session["Name"]
    @TempData["Surname"]

    @TempData["JobCard"]
    @Session["IdentityNumber"]
    @TempData["CellNo"]
    @TempData["Address"]

    @TempData["Country"] 

    @TempData["AreaCode"]
    @TempData["Province"] 
    @TempData["Email"] 
    @TempData["Date"] 
    @TempData["DateOfBirth"] 
    @TempData["Surname"] 
       

</div>
